/* First slider */
.slider-container2-first {
  position: relative;
  /* max-width: 600px; */
  margin: 0 auto;
}

/* Second slider */
.slider-container2-second {
  position: relative;
  /* max-width: 600px; */
  margin: 0 auto;
}

.slider2 {
  position: relative;
  overflow: hidden;
}

.slides2 {
  display: flex;
  transition: transform 0.5s ease;
}

.slide2 {
  flex: 0 0 100%;
  /* height: 200px; */
  /* height: 50vh; */
  height: auto;
  min-height: 100vh;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

/* Slider buttons */
.prevBtn2,
.nextBtn2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* background: rgba(0, 0, 0, 0.5); */
  /* background-color: #ddd; */
  /* color: white; */
  /* color: black; */
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.prevBtn2 {
  left: 0;
}

.nextBtn2 {
  right: 0;
}

/* Dots navigation */
.dots-container2 {
  text-align: center;
  margin-top: 10px;
}

.dot2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

/* Active dot */
.active_slider2 {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Additional styles for slider buttons */
.slider_button2 {
  justify-content: center;
  margin-top: 25px !important;
}

.slider_button2 button {
  border-radius: 50%;
  height: auto;
}

.slider_icons {
  font-size: 20px !important;
}

/* Styles for dark mode */
.slider_btn_dark2 {
  background-color: #5C5C5C !important;
  color: white !important;
}

.slider_btn_light2 {
  background-color: #EFF3FA !important;
  color: #1A202C !important;
}
