* {
  margin: 0px;
  padding: 0px;
}
.slider {
  width: 1440px;
  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 1440px;
  background-color: rgba(0, 46, 79, 0.2);
}
#navbar1 {
  width: 1440px;
  height: 90px;
  position: absolute;
}
#navbar1 > ul {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#navbar1 > ul > li {
  height: 30px;
  width: auto;
  display: inline;
}
.links {
  text-decoration: none;
  list-style-type: none;
}
#firstlist {
  color: white;
  font-family: "Source Sans 3";
  font-size: 36px;
  font-weight: 600;
  margin: 17px 0px 5px 50px;
  justify-content: center;
}
#secondlist {
  color: white;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 16px;
  margin: 35px 0px 5px 5px;
}
#thirdlist {
  color: white;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 16px;
  margin: 35px 0px 5px 0px;
}
#fourthlist {
  color: white;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 16px;
  margin: 35px 0px 5px 0px;
}
#fifthlist {
  color: white;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 16px;
  margin: 35px 0px 5px 0px;
}
#sixthlist {
  color: white;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 16px;
  margin: 35px 0px 5px 0px;
}
#seventhlist {
  color: white;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 16px;
  margin: 35px 0px 5px 0px;
}
#eighthlist {
  margin: 15px 0px 5px 100px;
}
#button1 {
  background-color: rgba(0, 46, 79, 0.1);
  font-family: "Source Sans 3";
  font-weight: 400;
  color: white;
  font-size: 25px;
  width: 202px;
  height: 58px;
  margin-right: 50px;
  border: 1px solid white;
  border-radius: 5px;
}

#secondlist:hover {
  cursor: pointer;
  text-decoration: underline;
}
#thirdlist:hover {
  cursor: pointer;
  text-decoration: underline;
}
#fourthlist:hover {
  cursor: pointer;
  text-decoration: underline;
}
#fifthlist:hover {
  cursor: pointer;
  text-decoration: underline;
}
#sixthlist:hover {
  cursor: pointer;
  text-decoration: underline;
}
#seventhlist:hover {
  cursor: pointer;
  text-decoration: underline;
}
#button1:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}
.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}
.list img {
  width: 1440px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
#slider_head {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  font-family: "Source Sans 3";
  color: white;
  top: 200px;
  left: 300px;
  text-align: center;
}
#slider_para {
  position: absolute;
  font-size: 25px;
  font-weight: 200;
  font-family: "Source Sans 3";
  color: white;
  text-align: center;
  top: 400px;
  left: 160px;
}
.buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  font-weight: bold;
  font-family: monospace;
  border: none;
}
.dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.dots li {
  list-style: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}
.dots li.active {
  width: 30px;
}
#popularheading {
  text-align: center;
  color: 1A202C;
  margin-top: 80px;
  font-family: "Source Sans 3";
  font-size: 50px;
  font-weight: 400;
}
.popularplaceline {
  color: #787878;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Source Sans 3";
}
.container {
  width: 1440px;
  margin: 10px auto;
}
.carousel {
  height: 1000px;
  overflow: hidden;
}
.slider_div {
  height: 100%;
  display: flex;
  width: 300%;
  transition: all 0.5s;
}
.slider_div section {
  flex-basis: 100%;
}
.feature {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
#new {
  color: #f7a582;
  font-weight: bold;
  font-size: 24px;
  font-family: "Source Sans 3";
}
.new {
  color: #1a202c;
  font-weight: bold;
  font-size: 24px;
  font-family: "Source Sans 3";
}
#favourite {
  color: #f7a582;
  font-weight: bolder;
  font-size: 24px;
  font-family: "Source Sans 3";
}
.favourite {
  color: #1a202c;
  font-weight: bolder;
  font-size: 24px;
  font-family: "Source Sans 3";
}
#trending {
  color: #f7a582;
  font-weight: bolder;
  font-size: 24px;
  font-family: "Source Sans 3";
}
.trending {
  color: #1a202c;
  font-weight: bolder;
  font-size: 24px;
  font-family: "Source Sans 3";
}
.featurelink {
  text-decoration: none;
}
.carddiv {
  max-width: 1440px;
  margin-top: 5px;
  margin: auto;
  display: grid;
  gap: 20px;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.carddiv1 {
  height: 420px;
  width: 390px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carddiv1:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 1s;
}
.cardheading {
  font-size: 32px;
  font-weight: 600;
  font-family: "Source Sans 3";
  color: #1a202c;
  margin-top: 20px;
  margin-left: 15px;
}
.cardparagraph {
  color: #1a202c;
  font-size: 24px;
  font-weight: 300;
  font-family: "Source Sans 3";
  margin-top: -10px;
  margin-left: 15px;
}
.cardimage {
  height: 305px;
  width: 390px;
}
.cardlink {
  text-decoration: none;
}
.button {
  height: 100px;
  margin: -50 auto 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.left_button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
}
.left_button:hover {
  cursor: pointer;
  background-color: #f7a582;
  color: white;
}
.right_button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
}
.right_button:hover {
  cursor: pointer;
  background-color: #f7a582;
  color: white;
}

#faq_head {
  font-size: 50px;
  font-weight: bold;
  font-family: "Source Sans 3";
  color: #1a202c;
  text-align: center;
  margin-bottom: 20px;
}
#faq_para {
  font-size: 18px;
  font-weight: 200;
  font-family: "Source Sans 3";
  color: #707070;
  text-align: center;
}
#faq {
  height: 750px;
  width: 1235px;
  background-color: white;
  margin: auto;
  display: flex;
}
#faq1 {
  height: 50px;
  width: 570px;
  position: absolute;
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin-top: 100px;
}
#faq1 h1 {
  font-size: 24px;
  font-family: "Source Sans 3";
  color: #1a202c;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
.dropdown-content1 {
  position: absolute;
  height: 100px;
  width: 570px;
  background-color: #f3f3f3;
  border-radius: 8px;
  align-items: center;
  margin-top: 140px;
  display: none;
}
.dropdown-content1 p {
  text-align: center;
  font-family: "Source Sans 3";
  margin-top: 10px;
}
.dropbtn1 {
  border: none;
  font-size: 24px;
}
.dropbtn1:hover {
  cursor: pointer;
}
.show1 {
  display: block;
}
#faq2 {
  height: 50px;
  width: 570px;
  position: absolute;
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin-top: 250px;
}
#faq2 h1 {
  font-size: 24px;
  font-family: "Source Sans 3";
  color: #1a202c;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
.dropdown-content2 {
  position: absolute;
  height: 100px;
  width: 570px;
  background-color: #f3f3f3;
  border-radius: 8px;
  align-items: center;
  margin-top: 290px;
  display: none;
}
.dropdown-content2 p {
  text-align: center;
  font-family: "Source Sans 3";
  margin-top: 10px;
}
.dropbtn2 {
  border: none;
  font-size: 24px;
}
.dropbtn2:hover {
  cursor: pointer;
}
.show2 {
  display: block;
}
#faq3 {
  height: 50px;
  width: 570px;
  position: absolute;
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin-top: 400px;
}
#faq3 h1 {
  font-size: 24px;
  font-family: "Source Sans 3";
  color: #1a202c;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}
.dropdown-content3 {
  position: absolute;
  height: 100px;
  width: 570px;
  background-color: #f3f3f3;
  border-radius: 8px;
  align-items: center;
  margin-top: 440px;
  display: none;
}
.dropdown-content3 p {
  text-align: center;
  font-family: "Source Sans 3";
  margin-top: 10px;
}
.dropbtn3 {
  border: none;
  font-size: 24px;
}
.dropbtn3:hover {
  cursor: pointer;
}
.show3 {
  display: block;
}
#faq4 {
  height: 50px;
  width: 570px;
  position: absolute;
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin-top: 550px;
}
#faq4 h1 {
  font-size: 24px;
  font-family: "Source Sans 3";
  color: #1a202c;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}
.dropdown-content4 {
  position: absolute;
  height: 100px;
  width: 570px;
  background-color: #f3f3f3;
  border-radius: 8px;
  align-items: center;
  margin-top: 590px;
  display: none;
}
.dropdown-content4 p {
  text-align: center;
  font-family: "Source Sans 3";
  margin-top: 10px;
}
.dropbtn4 {
  border: none;
  font-size: 24px;
}
.dropbtn4:hover {
  cursor: pointer;
}
.show4 {
  display: block;
}
#faq img {
  height: 570px;
  width: 570px;
  margin-left: 600px;
  margin-top: 100px;
}
#ourclient {
  font-size: 50px;
  font-weight: bold;
  font-family: "Source Sans 3";
  color: #1a202c;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
#ourclientpara {
  font-size: 18px;
  font-weight: 200;
  font-family: "Source Sans 3";
  color: #707070;
  text-align: center;
  margin-bottom: 60px;
}
.container_review {
  width: 1440px;
  margin: 10px auto;
}
.carousel_review {
  height: 340px;
  overflow: hidden;
}
.slider_div_review {
  height: 100%;
  display: flex;
  width: 300%;
  transition: all 0.5s;
}
.slider_div_review section {
  flex-basis: 100%;
}
.review {
  height: 300px;
  width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  background-color: white;
}
.review1 {
  height: 300px;
  width: 600px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.icon {
  position: absolute;
  margin-left: 500px;
}
.icon i {
  margin-left: 420px;
  margin-top: 30px;
  font-size: 60px;
}
.review2 {
  height: 300px;
  width: 600px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.review1 img {
  margin-top: -60px;
  height: 76px;
  width: 76px;
  margin-left: 50px;
}
.review1 h5 {
  font-size: 70px;
  margin-top: 50px;
  margin-left: 490px;
}
.review1 h3 {
  font-family: "Source Sans 3";
  font-size: 22px;
  font-weight: 600;
  color: #1a202c;
  margin-top: -60px;
  margin-left: 150px;
}
.review1 h6 {
  margin-top: 0px;
  font-size: 15px;
  color: #1a202c;
  font-weight: 300;
  font-family: "Source Sans 3";
  display: inline;
  margin-left: 150px;
}
.review1 p {
  font-family: "Source Sans 3";
  font-size: 22px;
  font-weight: 300;
  color: #1a202c;
  margin-top: 30px;
  margin-left: 50px;
}
.review2 img {
  margin-top: -60px;
  height: 76px;
  width: 76px;
  margin-left: 50px;
}
.review2 h5 {
  font-size: 70px;
  margin-top: 50px;
  margin-left: 490px;
}
.review2 h3 {
  font-family: "Source Sans 3";
  font-size: 22px;
  font-weight: 600;
  color: #1a202c;
  margin-top: -60px;
  margin-left: 150px;
  /* position: absolute; */
}
.review2 h6 {
  margin-top: 0px;
  font-size: 15px;
  color: #1a202c;
  font-weight: 300;
  font-family: "Source Sans 3";
  display: inline;
  margin-left: 150px;
}
.review2 p {
  font-family: "Source Sans 3";
  font-size: 22px;
  font-weight: 300;
  color: #1a202c;
  margin-top: 30px;
  margin-left: 50px;
}
.review_button {
  height: 100px;
  margin: 0 auto 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.left_button_review {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
}
.left_button_review:hover {
  cursor: pointer;
  background-color: #f7a582;
  color: white;
}
.right_button_review {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
}
.right_button_review:hover {
  cursor: pointer;
  background-color: #f7a582;
  color: white;
}
/* .reviewbutton{
    margin-top: 130px;
    width: 100%;
    display: flex;
    gap: 1300px;
    justify-content: center;
    margin-bottom: 200px;
    position: absolute;
}
.reviewbutton1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}
.reviewbutton2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #F7A582;
    color: white;
} */
footer {
  height: 351px;
  width: 1440px;
  margin: auto;
  background-color: #353636;
}
footer h1 {
  font-family: "Source Sans 3";
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 70px;
}
footer p {
  text-align: center;
  color: white;
  font-family: "Source Sans 3";
  font-size: 20px;
}
footer hr {
  margin-left: 100px;
  margin-right: 100px;
}
#footer {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.footer_link {
  text-decoration: none;
  color: white;
}
#footer_link {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  gap: 20px;
  color: white;
}
