/*
==================================================================

Project name : Boat travel tourist project

Software name : Boat travel tourist project

Description : This is a boat travel tourist project for the team.

Project_code : pro_2525_boat_travel_tourist_wa_soft_1_4_2024_web_soft_pro_soft





================================================================


*/

/* 

======================================================================

necessary design starts here


=====================================================================


*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --light-color: white !important;
    --dark-color: black !important;
    --secondary-color: #787878 !important;
    --light-secondary-color: #D6D6D6 !important;
    --dark-secondary-color: #353636 !important;
    --see-more-btn-color: #449586 !important;
}



/* adding the source sans3 font */
@font-face {
    font-family: "source_sans_3";
    src: url(../css/style.css);
}


body{
    font-family: "source_sans_3", sans-serif !important;
}

.cus_light {
    color: var(--light-color) !important;
}
.cus_secondary{
    color: var(--secondary-color) !important;
}
.bg_cus_secondary{
    background-color: var(--secondary-color) !important;
}

.bg_cus_light {
    background-color: var(--light-color) !important;
}
.cus_dark{
    color: var(--dark-color) !important;
}
.bg_cus_dark{
    background-color: var(--dark-color) !important;
}

.see_more_btn{
    background-color: var(--see-more-btn-color) !important;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid var(--light-color) !important;
    font-size: 20px;
    color: var(--light-color) !important;
    cursor: pointer;

    margin-top: 25px;
    border-radius: 5px;

    transition: all 400ms linear;

}

.see_more_btn:hover{

    background-color: var(--dark-color) !important;
    color: var(--light-color) !important;
    transition: all 400ms linear;


}


/* card section starts here */

/* #carddiv{
    
    max-width: 1440px;
    margin-top: 5px;
    margin: auto;
    display: grid;
    gap:20px ;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
}
.carddiv1{
    height: 420px;
    width: 390px;
    background-color:white;
    border: 1px solid rgba(0, 0, 0, .1);
}
.carddiv1:hover{
    cursor: pointer;
    opacity: .8;
    transition: 1s;
}
.cardheading{
    font-size: 32px;
    font-weight: 600;
    font-family: 'Source Sans 3';
    color: #1A202C;
    margin-top: 20px;
    margin-left: 15px;
}
.cardparagraph{
    color: #1A202C;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Source Sans 3';
    margin-top: 1px;
    margin-left: 15px;
}
.cardimage{
    height: 305px;
    width: 390px;
}
.cardlink{
    text-decoration: none;
} */
/* card section ends here */



/* 

======================================================================

necessary design ends here


=====================================================================


*/


/* 

======================================================================

navbar section starts here


=====================================================================


*/



.navbar_container ul li {
    list-style: none !important;
}

.navbar_container ul li a {
    text-decoration: none !important;
    /* color: black !important; */
    color: var(--light-color) !important
}

.cus_nav_link{
    display: flex;
    justify-content: center;
    /* gap: 5%; */
    /* gap: 3%; */
    gap: 25px;
    
}
/* .navbar_container{
    margin-top: 25px;
} */

.brand_name_title{
    /* font-size: 25px !important; */
    font-size: 30px !important;
    font-weight: bold !important;
}
.navbar_container{
    /* background-image: url(../img/our_tours_banner.png); */
    background-image: url(../assets/img/blogsBanner.jpg);
    height: 50vh;
    color: var(--light-color) !important;
    background-position: center !important;
    background-size: cover !important;
}
.nav_ul_font_size{
    font-size: 15px !important;
}
.nav_link_m{
    margin-top: 5px;
    font-weight: bold !important;
}

/* .register_btn{
    background-color: transparent !important;
    padding: 15px;
    outline: none !important;
    border: 2px solid var(--light-color) !important;
    color: var(--light-color) !important;
    font-size: 20px;
    margin-left: 145px !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    transition: all 600ms linear;
    cursor: pointer;
    margin-left: 25px !important;
} */

.register_btn{
    background-color: transparent !important;
    padding: 15px;
    outline: none !important;
    border: 2px solid var(--light-color) !important;
    color: var(--light-color) !important;
    font-size: 20px;
    margin-left: 145px !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    transition: all 600ms linear;
    cursor: pointer;
    margin-bottom: 12px;
    /* margin-left: 25px !important; */
    margin-top: -14px;
}






.register_btn:hover{
    background-color: var(--light-color) !important;
    color: var(--dark-color) !important;
    border: 2px solid var(--dark-color) !important;
    transition: all 600ms linear;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.2) !important;
}


/* 

======================================================================

navbar section ends here


=====================================================================


*/
/* 

======================================================================

footer section starts here


=====================================================================


*/



.footer_contents{
    text-align: center !important;
    margin-top: 25px !important;
    padding-bottom: 25px !important;
    
}
.footer_navbar ul li {
    list-style: none !important;
}

.footer_navbar ul li a {
    text-decoration: none !important;
    /* color: black !important; */
    color: var(--light-color) !important
}

.footer_section{
    background-color: var(--dark-secondary-color) !important ;
    color: var(--light-color) !important;
}

.footer_social_icons{
    font-size: 30px;
    margin-left: 30px;
}
.footer_social{
    margin: 25px;
    justify-content: center;
}
.footer_social a{
    color: var(--light-color) !important;
}
.footer_social a:hover{
    color: var(--secondary-color) !important;
}



/* 

======================================================================

footer section ends here


=====================================================================


*/


/* 

======================================================================

secondary card navbar section starts here


=====================================================================


*/



.cards_navbar ul li {
    list-style: none !important;
}

.cards_navbar ul li a {
    text-decoration: none !important;
    /* color: black !important; */
    /* color: var(--dark-color) !important; */
    color: var(--dark-color);
}
.card_nav_ul_font_size{
    font-size: 20px;
}
.card_nav_link_m {
    margin-top: 5px;
    /* font-weight: bold !important; */
}
.card_nav_link_active{
    color: var(--see-more-btn-color) !important;
    font-weight: bold;
}

/* 

======================================================================

secondary card navbar section ends here


=====================================================================


*/
/* 

======================================================================

blog text section ends here


=====================================================================


*/


.blogs_texts{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    font-size: 20px;
}





/* 

======================================================================

blogs text section ends here


=====================================================================


*/





